
        </div>
    </div>
        <div class="footer">
            <div class="wrapper">
                &copy; 2013 Daniel Tomlinson. The source is available on <a href="http://github.com/danieltomlinson/danie.lt">GitHub</a>, and my site is hosted on Github Pages.<br />
                You should grab the <a href="/atom">RSS feed</a> and follow me on <a href="http://twitter.com/dantoml">Twitter</a>.
            </div>
        </div>
      

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-42824390-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>




        <script type="text/javascript">
            var GoSquared = {acct: "GSN-596286-H"};
            (function(w){
                function gs(){
                    w._gstc_lt = +new Date;
                    var d = document, g = d.createElement("script");
                    g.type = "text/javascript";
                    g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
                    var s = d.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(g, s);
                }
                w.addEventListener ? w.addEventListener("load", gs, false) : w.attachEvent("onload", gs);
            })(window);
        </script>
    

        <!-- build:js /assets/scripts/main.js -->
        <!-- // <script src="/bower_components/jquery/jquery.js"></script> -->
        <script src="/assets/scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>